.root {
    display: grid;

    grid-template-columns: 13rem auto 18rem;
    grid-template-rows: auto 65vh;
    grid-template-areas:
        'word word word'
        'players board chat';

    column-gap: 1rem;
    row-gap: 1rem;

    margin-top: 3rem;
}

.Backdrop {
    z-index: 4000;
}

@media (max-width: 1175px) {
    .root {
        margin-top: 1rem;
        grid-template-columns: 1fr;
        grid-template-areas:
            'word'
            'board'
            ' chat'
            'players';

        row-gap: 1rem;
    }
}
