.root {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 1100;

    width: 100%;
    height: fit-content;

    padding: 1.5rem 0.5rem 0.5rem 1.5rem;

    background-color: white;

    & > a {
        display: flex;
        align-items: center;

        width: fit-content;

        text-decoration: none;

        & > svg {
            font-size: 3.5rem;

            margin-right: 0.5rem;
            margin-bottom: 0.2rem;
        }
    }
}

.Content {
    padding-top: 6rem;
}

@media (max-width: 500px) {
    .root {
        & > a {
            font-size: 2rem !important;

            & > svg {
                font-size: 2.5rem !important;
            }
        }
    }
}
