.root {
    grid-area: players;

    & > div:nth-child(2) {
        & > div {
            box-sizing: border-box;
            padding: 0.25rem 1rem;
            width: 100%;
            border-radius: 4px;
        }
    }
}
