.Logo {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;

    display: flex;
    align-items: center;
}

.Logo > svg {
    font-size: 3.5rem;

    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
}
