.root {
    min-width: 3rem !important;

    border-color: rgba(0, 0, 0, 0.12);

    padding: 0 !important;
    width: 3rem !important;

    margin-left: 0.5rem !important;

    & svg {
        color: rgba(0, 0, 0, 0.54);
    }
}
