body {
    margin: 0;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snackbar__close-btn {
    padding: 0.5rem !important;

    & svg {
        font-size: 1.3rem !important;
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.06);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.12);
}
