.root {
    max-width: 450px;
    min-height: 65vh;

    width: 100%;
    height: 100%;

    margin: 11rem auto 1rem;
}

@media (max-width: 500px) {
    .root {
        margin: 4.75rem auto 1rem;
    }
}

.Input {
    margin: 1.5rem 0 0 !important;
}

.Buttons {
    display: flex;

    margin-top: 1.5rem;
}

.Buttons > button:first-of-type {
    margin-right: 1.5rem;
}

.Avatars {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    justify-items: center;
    row-gap: 1rem;
    column-gap: 0.5rem;

    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
}

.Avatars > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
}
